body {
    margin-top: 50px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #39464e;
}

body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}


/* Navbar */

.navbar-default {
    background-color: #FFF;
    margin-left: 200px;

    .link-nav {
        transition: 0.4s;
        color: rgba(0, 0, 0, 0.5);
    }

    .link-nav:hover {
        transition: 0.4s;
        color: rgba(0, 0, 0, 1);
    }
}

.brand-visibility {
    display: none;
}

.active-lang {
    color: red;
}

.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.link-visibility {
    display: none !important;
}

/*main side bar*/
.msb {
    width: 200px;
    background-color: #F5F7F9;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #ddd;

    .navbar {
        border: none;
        margin-left: 0;
        background-color: inherit;
    }

    .navbar-header {
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 20px;
        background: #fff;

        .brand-wrapper {
            display: flex;
            justify-content: center;
        }
    }

    .navbar-nav {
        .panel {
            border: 0 none;
            box-shadow: none;
            margin: 0;
            background: inherit;
        }

        li {
            display: block;
            width: 100%;

            a {
                padding: 15px;
                color: #5f5f5f;

                .glyphicon,
                .fa {
                    margin-right: 8px;
                }
            }
        }
    }

    .nb {
        padding-top: 5px;
        padding-left: 10px;
        margin-bottom: 30px;
        overflow: hidden;

    }
}

ul.nv,
ul.ns {
    position: relative;
    padding: 0;
    list-style: none;
}

.nv {
    li {
        display: block;
        position: relative;

        &::before {
            clear: both;
            content: "";
            display: table;
        }

        a {
            color: #444;
            padding: 10px 25px;
            display: block;

            .ic {
                font-size: 16px;
                margin-right: 5px;
                font-weight: 300;
                display: inline-block;
            }
        }
    }

    /*ns: nav-sub*/
    .ns {
        li {
            a {
                padding: 10px 50px;
            }
        }

    }

}


/*main content wrapper*/
.mcw {
    margin-left: 200px;
    position: relative;
    min-height: 100%;

    /*content view*/
    /*  .cv {} */
}


/*globals*/
a,
a:focus,
a:hover {
    text-decoration: none;
    transition: 0.4s !important;
}


button,
button:active,
button:focus,
button:hover {
    transition: 0.4s !important;
    outline: none !important
}

.inbox {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    ul {
        li {
            list-style: none;

            a {
                display: block;
                padding: 10px 20px;
            }
        }
    }
}

.msb,
.mnb {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mcw {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body.msb-x {

    .mcw,
    .mnb {
        margin-left: 0;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .msb {
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

/* Slide in animation */
@-moz-keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@-moz-keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@-webkit-keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@-moz-keyframes bodyslidein {
    0% {
        left: 0;
    }

    100% {
        margin-left: 200px;
    }
}

@-webkit-keyframes bodyslidein {
    0% {
        left: 0;
    }

    100% {
        left: 0
    }
}

@keyframes bodyslidein {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 200px;
    }
}

@-moz-keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0;
    }
}


/* Tables */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    word-wrap: break-word;
    width: auto;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.table-title {
    text-align: left;
}


/* Task Page */

.icons {
    font-size: 20px;
}

.icons-complete {
    color: green;
}

.icons-delete {
    color: red;
}

.button-action {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-right: 5px;
}

.wrapper-tasks {
    width: 100%;

    .wrapper-button {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.selected-wrapper {
    display: flex;
    margin-bottom: 15px;

    .form-control:not(:last-child) {
        margin-right: 10px;
    }
}


/* Create Page */

.pull-right {
    margin-bottom: 10px;
}

.btn-create {
    margin-top: 10px;
    outline: none;
}

.main-container {
    width: 100%;
}

.cards-center {
    display: flex;
    justify-content: center;

    .cards-wrapper {
        width: 400px;
        margin-top: 50px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        border-color: #ddd;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        margin-bottom: 15px;

        .cards-header {
            size: 10px;
            border-bottom: 1px solid #ddd;
            padding: 8px;
            margin-bottom: 10px;
            font-size: 15px;
        }
    }

    .cards-create-note {
        width: 1000px;
    }
}

.action-wp {
    display: flex;
    justify-content: center;
}

.completed-table {
    margin-top: 20px;
}

/* Show Page */

.form-group-show {
    margin-top: 55px;
}

.wrapper-title {
    margin-bottom: 20px;
}

.wrapper-content,
.wrapper-title {
    word-wrap: break-word;
}

.wrapper-content {
    border-bottom: 1px solid #ddd;
}

.file-link {
    color: black;
}

/* Edit Page */

.add-create-field,
.add-edit-field {
    margin-bottom: 10px;
}

.add-file {
    margin-bottom: 14px;
    display: revert !important;
}

.delete {
    margin-left: 5px;
}

.wrapper-not-alert {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    font-size: 30px;
}

.wrapper-image-main {
    width: 150px;
    margin-bottom: 10px;
}

.image-main img {
    width: 100%;
}

.title-upload-image,
.title-upload-file {
    font-size: 20px;
    margin-bottom: 15px;
}

.wrapper-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .wrapper-image-show {
        width: 200px;
        margin-right: 10px;
        margin-bottom: 10px;

        .image-show img {
            width: 100%;
            height: 200px;
        }
    }

    .wrapper-image-edit {
        width: 200px;
        margin-right: 10px;
        margin-bottom: 10px;

        .image-edit img {
            width: 100%;
            height: 200px;
        }
    }
}

.wrapper-file {

    .wrapper-file-show,
    .wrapper-file-edit {
        width: 200px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .file-edit,
    .file-show {
        display: flex;
        word-break: break-all;
    }
}

.title-upload-image,
.title-upload-file {
    margin-top: 30px;
}

.btn-edit-delete {
    text-align: center;
    margin-top: 10px;
}

.name-file {    
    margin-left: 5px; 
    margin-right: 5px; 
    font-size: 17px;  
}

.fa-download {
    font-size: 20px;
}


/* Adaptive */

@media screen and (min-width: 1200px) {
    .table-container {
        width: 950px !important;
    }
}

@media screen and (min-width: 992) {
    .table-container {
        width: 750px !important;
    }
}

@media screen and (min-width: 767px) {
    .table-container {
        width: 550px;
    }
}

@media screen and (max-width: 767px) {

    .navbar-header {
        display: flex;
        flex-direction: row-reverse;

        .brand-visibility {
            display: inline-block;
            margin-right: auto;
        }
    }

    .cards-create-note {
        width: 100% !important;
    }

    .link-visibility {
        display: list-item !important;
    }

    .nav-adaptive {
        padding-left: 30px;
        padding-right: 30px;
    }

    .action-wp {
        display: flex;
        justify-content: flex-end;
    }

    .delete {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .wrapper-img {
        display: grid;
        justify-content: center;
    }

    .wrapper-image-show {
        margin-bottom: 15px;
    }

    .wrapper-image-edit {
        margin-bottom: 15px;
    }

    .wrapper-file {
        display: grid;
        justify-content: center;
    }

    #msbo {
        display: none;
    }

    .msb {
        display: none;
    }

    body {

        .mcw,
        .mnb {
            margin-left: 0;
            -moz-animation: bodyslideout 300ms forwards;
            -o-animation: bodyslideout 300ms forwards;
            -webkit-animation: bodyslideout 300ms forwards;
            animation: bodyslideout 300ms forwards;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
    }

    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td,
    .table-title {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 15px;
        text-align: right;
        word-wrap: break-word;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 15px;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
